<footer id="footer" class=".img-responsive center-block">
	<img src="../../image/150692694970223.png">
	<p class="text-center">Copyright © 小豪个人网. All Rights Reserved.</p>
</footer>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.0/jquery.js"></script>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>