<nav class="navbar navbar-default  navbar-fixed-top" id="navbar-example">
    
    <div class="navbar-header">
    <a href="" class="navbar-brand">小豪个人网</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
      <span class="icon-bar"></span>
       <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
         <ul class="nav navbar-nav navbar-right" style="margin-top:0;">
       <li class="active"><a href="#content"><span class="glyphicon glyphicon-tree-deciduous"></span>   个人信息</a></li>
       <li><a href="#content-js">个人项目地址</a></li>
       <li><a href="#knowledge">个人技能</a></li>
       <li><a href="#lp">鸡汤</a></li>
     </ul>
      </div>
    
</nav>